@import "tailwindcss";

@theme {
	--background-color-inverse: light-dark(#222222, #fcfcfc);
	--background-color-primary: light-dark(#e8e8e8, #111111);
	--background-color-surface: light-dark(#fcfcfc, #222222);
	--outline-color-inverse: light-dark(#222222, #fcfcfc);
	--text-color-primary: light-dark(#202020, #eeeeee);
}

html,
:host {
	background-color: var(--background-color-primary);
	color: var(--text-color-primary);
	color-scheme: light dark;
}

body {
	background-image: url("/icons/vector.svg");
	background-size: 70% 35%;
	background-position: top;
	background-repeat: no-repeat;
}
