@import "tailwindcss";

:root {
	touch-action: manipulation;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	@apply appearance-none;
}

@layer utilities {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		@apply appearance-none;
	}

	input[type="number"] {
		appearance: textfield;
	}

	.text-md {
		font-size: 16px;
		line-height: 1.25rem;
	}

	.size-max {
		width: 100%;
		height: 100%;
	}

	.min-size-max {
		min-width: 100%;
		min-height: 100%;
	}

	.max-size-max {
		max-width: 100%;
		max-height: 100%;
	}

	.size-auto {
		width: auto;
		height: auto;
	}

	.min-size-auto {
		min-width: auto;
		min-height: auto;
	}

	.max-size-auto {
		max-width: auto;
		max-height: auto;
	}

	.min-size-screen {
		min-width: 100vw;
		min-height: 100vh;
	}

	.max-size-screen {
		max-width: 100vw;
		max-height: 100vh;
	}

	.font-bolder {
		font-weight: 750;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
}
