@import "tailwindcss";

:root {
	touch-action: manipulation;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	@apply appearance-none;
}

input[type="number"] {
	appearance: textfield;
}

@utility text-md {
	font-size: 16px;
	line-height: 1.25rem;
}

@utility size-max {
	width: 100%;
	height: 100%;
}

@utility min-size-max {
	min-width: 100%;
	min-height: 100%;
}

@utility max-size-max {
	max-width: 100%;
	max-height: 100%;
}

@utility size-auto {
	width: auto;
	height: auto;
}

@utility min-size-auto {
	min-width: auto;
	min-height: auto;
}

@utility max-size-auto {
	max-width: auto;
	max-height: auto;
}

@utility min-size-screen {
	min-width: 100vw;
	min-height: 100vh;
}

@utility max-size-screen {
	max-width: 100vw;
	max-height: 100vh;
}

@utility font-bolder {
	font-weight: 750;
}

@utility no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
