name = "tempo-sponsor"
compatibility_date = "2025-10-11"
compatibility_flags = ["nodejs_compat"]
main = "src/index.ts"
workers_dev = true
preview_urls = true
keep_vars = true

[observability]
enabled = true

[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true

[vars]
TEMPO_RPC_URL = "https://eng:zealous-mayer@rpc.testnet.tempo.xyz"
ALLOWED_ORIGINS = "*"