name: Main
on:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  verify:
    name: Verify
    uses: ./.github/workflows/verify.yml
    secrets: inherit

  apps:
    name: Get Apps
    runs-on: ubuntu-latest
    outputs:
      apps: ${{ steps.apps.outputs.apps }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Get apps
        id: apps
        run: |
          apps=$(ls -d apps/*/ | xargs -n 1 basename | jq -R -s -c 'split("\n")[:-1]')
          echo "apps=$apps" >> $GITHUB_OUTPUT
          echo "Discovered apps: $apps"

  deploy:
    name: Deploy (${{ matrix.app }})
    needs: apps
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        app: ${{ fromJson(needs.apps.outputs.apps) }}
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Build & Deploy Workers
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: apps/${{ matrix.app }}