name: Pull Request
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  NODE_ENV: production

jobs:
  verify:
    name: Verify
    uses: ./.github/workflows/verify.yml
    secrets: inherit

  deploy-preview:
    name: Deploy Preview (${{ matrix.app }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
    strategy:
      matrix:
        app: [explorer, fee-payer, og, tokenlist]

    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          submodules: "recursive"
          fetch-depth: 0

      # deploy workspace preview only if there are relevant changes
      # deploy all apps if root lockfile is changed
      - name: Check for relevant changes
        id: changes
        run: |
          if git diff --name-only origin/${{ github.base_ref }}...HEAD | grep -qE "^(apps/${{ matrix.app }}/|pnpm-lock.yaml)"; then
            echo "relevant=true" >> $GITHUB_OUTPUT
          else
            echo "relevant=false" >> $GITHUB_OUTPUT
          fi

      - name: Install dependencies
        if: steps.changes.outputs.relevant == 'true'
        uses: ./.github/actions/install-dependencies

      - name: Build
        if: steps.changes.outputs.relevant == 'true'
        run: pnpm build
        working-directory: apps/${{ matrix.app }}

      - name: Upload Worker Version
        if: steps.changes.outputs.relevant == 'true'
        id: deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: versions upload
          workingDirectory: apps/${{ matrix.app }}

      - name: Comment Preview URL on PR
        if: steps.changes.outputs.relevant == 'true'
        uses: moojing/cf-preview-bot@v1
        with:
          deployment_url: ${{ steps.deploy.outputs.deployment-url }}
          branch_preview_url: ${{ steps.deploy.outputs.pages-deployment-alias-url }}
