name: Pull Request
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  verify:
    name: Verify
    uses: ./.github/workflows/verify.yml
    secrets: inherit

  deploy-preview:
    name: Deploy Preview (${{ matrix.app }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
    strategy:
      matrix:
        app: [explorer, fee-payer]

    steps:
      - name: Clone repository
        uses: actions/checkout@v5
        with:
          submodules: "recursive"

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Build
        run: pnpm build
        working-directory: apps/${{ matrix.app }}

      - name: Upload Worker Version
        id: deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: versions upload
          workingDirectory: apps/${{ matrix.app }}

      - name: Comment Preview URL on PR
        uses: moojing/cf-preview-bot@v1
        with:
          deployment_url: ${{ steps.deploy.outputs.deployment-url }}
          branch_preview_url: ${{ steps.deploy.outputs.pages-deployment-alias-url }}

  test-deploy:
    name: Test Deploy (${{ matrix.app }}${{ matrix.env && format('-{0}', matrix.env) || '' }})
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        include:
          - app: explorer
          - app: fee-payer
          - app: fee-payer
            env: privy
        
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Test Deploy Command (Dry Run)
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: apps/${{ matrix.app }}
          # todo(struong): remove --dry-run before merging
          command: ${{ matrix.env == 'privy' && 'deploy --dry-run --env privy' || 'deploy --dry-run' }}