name: Pull Request
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  verify:
    name: Verify
    uses: ./.github/workflows/verify.yml
    secrets: inherit

  apps:
    name: Get Apps
    runs-on: ubuntu-latest
    outputs:
      apps: ${{ steps.apps.outputs.apps }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Get apps
        id: apps
        run: |
          apps=$(ls -d apps/*/ | xargs -n 1 basename | jq -R -s -c 'split("\n")[:-1]')
          echo "apps=$apps" >> $GITHUB_OUTPUT
          echo "Discovered apps: $apps"

  deploy-preview:
    name: Deploy Preview (${{ matrix.app }})
    runs-on: ubuntu-latest
    needs: apps
    timeout-minutes: 5
    permissions:
      contents: read
      issues: write
      pull-requests: write
    strategy:
      matrix:
        app: ${{ fromJson(needs.apps.outputs.apps) }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
        with:
          submodules: "recursive"

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Build
        run: bun run build
        working-directory: apps/${{ matrix.app }}

      - name: Upload Worker Version
        id: deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: versions upload
          workingDirectory: apps/${{ matrix.app }}

      - name: Comment Preview URL on PR
        uses: moojing/cf-preview-bot@v1
        with:
          deployment_url: ${{ steps.deploy.outputs.deployment-url }}
          branch_preview_url: ${{ steps.deploy.outputs.pages-deployment-alias-url }}