name: Test Contract Verification

on:
  workflow_dispatch:
    inputs:
      rpc-url:
        description: 'RPC URL'
        required: false
        default: 'https://rpc.testnet.tempo.xyz'
      verifier-url:
        description: 'Verifier URL'
        required: false
        default: 'https://contracts.porto.workers.dev'
  schedule:
    - cron: '0 */6 * * *'

defaults:
  run:
    shell: bash
    working-directory: apps/contract-verification

env:
  ACTIONS_RUNNER_DEBUG: true
  TEMPO_RPC_URL: ${{ github.event.inputs.rpc-url || 'https://rpc.testnet.tempo.xyz' }}
  VERIFIER_URL: ${{ github.event.inputs.verifier-url || 'https://contracts.porto.workers.dev' }}

jobs:
  verify-vyper:
    env:
      GH_TOKEN: ${{ github.token }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@master
        with:
          version: nightly
          network: tempo

      - name: Install uv
        uses: astral-sh/setup-uv@main
        with:
          version: latest
          python-version: '3.14'

      - name: Install vyper Compiler
        run: uv tool install vyper

      - name: Test Vyper (small counter)
        run: ./scripts/test-vyper.sh

  verify-solidity:
    env:
      GH_TOKEN: ${{ github.token }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/contract-verification
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@master
        with:
          version: nightly
          network: tempo

      - name: Test Solidity
        run: ./scripts/test-big-boy.sh
