name: Verify
on:
  workflow_call:
  workflow_dispatch:

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    env:
      INDEXSUPPLY_API_KEY: ${{ secrets.INDEXSUPPLY_API_KEY }}

    steps:
      - name: Clone repository
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        env:
          INDEXSUPPLY_API_KEY: ${{ secrets.INDEXSUPPLY_API_KEY }}

      - name: Check code
        run: pnpm check

      - name: Check types
        run: pnpm check:types

